// TODO encapsulate all partials to prevent the use of !important - use the rule order
.acknowledgments-box {
  background-color: #d3d3d3 !important;

  .acknowledgments-ticker {

    * {
      font-size: $font-size-large;
      font-weight: bold;
      color: $mainGradientBottom;
      text-shadow: 1px 1px 0 #fff;
    }
    .quote {
      padding: 0;
      border: 0 none;
      //font-size: 1.4em;
      font-size: .9em;
      line-height: 1.7;
      font-family: lane, sans-serif;
      letter-spacing: .04em;
    }
    .ref {
      text-align: right;
      font-size: .8em;
    }
  }
}

