
.acknowledgments-ticker {
  font-size: $font-size-large;
  text-shadow: 1px 1px 0 #fff;
  .quote {
    border: 0 none;
    font: bold 1.4em/1.8 lane, sans-serif;
    letter-spacing: .05em;
    color: #777;
  }
  .ref {
    text-align: right;
    font-size: .7em;
  }
}

