.acknowledgments-box {

  .acknowledgments-ticker {

    .quote {
      height: $c-tile-height / 2.5;
      padding: 1em 0;
      border: 0 none;
      //font-size: 1.4em;
      font-size: .9em;
      line-height: 1.7;
      text-align: left;
      font-family: lane, sans-serif;
      font-size: $font-size-large;
      font-weight: bold;
      letter-spacing: .04em;

      &:before {
        content: '\201c';
        //content: '\2760';
        float: left;
        display: block;
        width: 1em;
        height: 100%;
        font: 2em helvatica serif;
        text-align: center;
      }
    }
    .ref {
      text-align: left;
      text-indent: 2.5em;
    }
  }
}

