
/* palette
-------------------------------------------------- */

$c-color-base-01: #4488d5 !default;
$c-color-base-02: #1d314e !default;
$c-color-base-03: #070f22 !default;
$c-color-base-04: #555555 !default;
$c-color-base-05: #e6e6e6 !default;
$c-color-base-06: #d6d6d6 !default;
$c-color-base-07: #ffffff !default;



/*
#619ee7
#164b8a
#002355
*/
