
/* baseline styles */

body {
  //@include gradient-vertical($c-main-gradient-top, $c-main-gradient-bottom);
  background-color: $c-main-gradient-bottom;
}


#header,
#footer {
  a {
    color: $c-link-composite-color;
    font-weight: bold;
    &:hover {
      color: $c-link-composite-color-hover;
    }
  }
}

#header-top {
  a {
    color: $c-link-composite-color;
  }
}

/* typography */

h1 {
  font-size: $font-size-base * 1.8;
  margin-bottom: 1em;
}

h2 {
  font-size: $font-size-base * 1.4;
}

h3 {
  font-size: $font-size-base * 1.15;
}

h4, h5, h6 {
  font-size: $font-size-base * 1.05;
}

#home h2 {
  font-weight: bold;
}

a, a:link, a:visited, a:hover, a:active, a:focus {
  outline: 0 none;
  text-decoration: none !important;
  @include transition(color, text-shadow, .25s);
}


#main {
  section {
    a {
      font-weight: bold;
    }
    h1 {
      &:after {
        content: '';
        display: block;
        padding-top: .5em;
        border-bottom: 1px solid #ffffff;
      }
    }
  }
}

/* generic components */

.island {
  padding: .5em 2em;
  font-size: $font-size-base * 1.2;
}

/* bootstrap specific */

.list-inline.pull-right {
  > li:last-child {
    padding-right: 0;
  }
}
