
/* bootstrap-sass
-------------------------------------------------- */

$body-bg: $c-body-bg;
$text-color: $c-text-color;
$link-color: $c-link-color;
$link-hover-color: $c-link-hover-color;
$headings-color: $c-headings-color;

$headings-font-weight: normal;
$font-size-base: $c-base-font-size;
$font-family-base: $c-base-font;
$line-height-base: 1.5;
$grid-gutter-width: $c-box-pad * .9;
$btn-info-bg: $c-header-main-bg;
$border-radius-base: 0;


/* bootstrap-ui
------------------------------------------------- */

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}
