#footer {
  position: relative;
  background-color: $c-footer-bg;
  color: #cccccc;
  .row {
    background-color: $c-footer-bg;
  }
  a {
    color: #cccccc;
  }
  [class*="col-"] {
    margin-top: $c-box-pad;
    height: $c-footer-height - $c-box-pad * 2;
    &:not(:last-child) {
      border-right: 1px solid $c-header-main-bg;
    }
  }
  .website-meta {
    img {
      padding: 0 4px 0 0;
    }
  }
  .copyright {
    position: absolute;
    bottom: 0;
    right: $grid-gutter-width / 2;
  }
  .links-list {
    li {
      line-height: 2;
    }
  }
}
