#header {
  padding-bottom: 20px;
}


#wrap:before,
#wrap:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#wrap:before {
  z-index: 0;
  height: $c-header-top-height;
}

#wrap:after {
  z-index: -1;
  height: 220px;
}

#wrap:before,
#wrap:after,
#header-top {
  //background-color: $c-main-gradient-bottom;
  background-color: $c-color-base-08;
}

#wrap:before,
#header-top {
  border-bottom: 1px solid $c-main-gradient-bottom;
}


#header-top {
  height: $c-header-top-height;
  line-height: $c-header-top-height;
}

#header-main {
  padding: 30px 0 0;
  a {
    font-weight: normal;
  }
  .logo {
    position: relative;
    //background: url('/images/123completed-logo.png') 50% 50% no-repeat;
    //background-size: contain;
    span {
      height: 50px;
      color: #fff;
      &.one {
        line-height: 50px;
        font-size: 26px;
        font-weight: bold;
      }
      &.completed {
        line-height: 44px;
        font-family: lane;
        font-size: 37px;
      }
    }
  }
}