#home {

  .home-link {
    font-weight: bold;
    color: $c-123-color;
  }

  .what-we-do {

    .services-list {
      line-height: 2.6;
      li {
        &:not(:last-child) {
          border-bottom: 1px solid #ffffff;
        }
      }
    }
  }
}