
$c-images-path: '/images';

$c-img-email: '#{$c-images-path}/icons/email.png';
$c-img-linkedin: '#{$c-images-path}/icons/linkedin.png';

[class*="icon-"] {
  &[class*="-email"] {
    background-image: url('#{$c-img-email}');
  }
  &[class*="-linkedin"] {
    background-image: url('#{$c-img-linkedin}');
  }
}