/* sticky footer */
html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto $c-footer-height * -1;
  padding: 0 0 $c-footer-height;
}

#footer {
  height: $c-footer-height;
}

/* customization */

#wrap:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $c-header-top-height;
  border-bottom: 1px solid $c-main-gradient-bottom;
}

#header-top {
  height: $c-header-top-height;
  line-height: $c-header-top-height;
}



/* TODO make more specific, so it would apply only to layout boxes */
#main {
  section {
    min-height: $c-tile-height;
    margin-bottom: $grid-gutter-width;
    padding: $c-box-pad / 2 $c-box-pad + 12 $c-box-pad + 12;
    background-color: $c-composite-color;
    //background-color: #008dc6;
  }
}

#home section {
  height: $c-tile-height;
  > h1 {
    //margin: -10px 0 0;
    border-bottom: 0 none; // TODO create conditional classname for non-home pages to avoid negative overrides like this one
  }
}
