/* sticky footer */
html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto $c-footer-height * -1;
  padding: 0 0 $c-footer-height;
}

#footer {
  height: $c-footer-height;
}

/* TODO make more specific, so it would apply only to layout boxes */
#main {
  > div {
    margin-top: $c-box-pad;
    //padding-bottom: $c-box-pad;
    margin-bottom: $c-box-pad;
    //background-color: $c-box-color;
  }
  section {
    min-height: $c-tile-height;
    //margin-bottom: $grid-gutter-width;
    padding: $c-box-pad / 2 $c-box-pad + 12 $c-box-pad + 12;
    background-color: $c-box-color;
  }
}

#home section {
  height: $c-tile-height;
  > h1 {
    //margin: -10px 0 0;
    border-bottom: 0 none; // TODO create conditional classname for non-home pages to avoid negative overrides like this one
  }
}
