
/* bootstrap-sass
-------------------------------------------------- */

$body-bg: $c-body-bg;
$text-color: $c-text-main-color;
$link-color: $c-header-main-bg;
$link-hover-color: $c-123-color;
$headings-color: $c-123-color;

$headings-font-weight: normal;
$font-size-base: 18px;
$font-family-base: district_prothin;
$line-height-base: 1.5;
$grid-gutter-width: $c-box-pad * .9;


/* bootstrap-ui
------------------------------------------------- */

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}