/*
colors:
  #619ee7
  #164b8a
  #4488d5
*/

/* custom variables
-------------------------------------------------- */

$footerHeight: 220px;
$topLinksHeight: 40px;
$tileHeight: 420px;
$compositeColor: #e6e6e6;
$shadowColor: #555;
$c123Color: #4488d5;
$mainGradientTop: #070f22;
$mainGradientBottom: #1d314e;

$boxPad: 32px;
