$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

/* common */
@import "fonts";
@import "colors";
@import "images";
@import "variables";
@import "functions";
/* libs defaults */
@import "defaults";
/* libs */
@import "bootstrap-sass/lib/bootstrap";
$fa-font-path: "../bower_components/font-awesome/fonts";
@import "../bower_components/font-awesome/scss/font-awesome";
/* common styles */
@import "common";
/* partials */
@import "layout";
@import "header";
@import "footer";
@import "homepage";
@import "main-navigation";
@import "banner";
@import "acknowledgments";
@import "staff";
@import "services";
@import "technologies";
@import "training";
/* angularjs animation */
@import "animation";
