
/*
table of contents:
  1. embedded fonts
  2. sass
  3. helper classes
  4. baseline styles
  5. layout
  6. custom styles

colors:
#619ee7
#164b8a
#4488d5
*/


/* 1. embedded fonts
-------------------------------------------------- */

@import "fonts";


/* 2. sass
-------------------------------------------------- */

/* variables overrides */
$text-color: #555;
$link-color: $text-color;
$link-hover-color: #4488d5;
//$headings-color: #002355;
$headings-color: #619ee7;
$headings-font-weight: normal;
$font-size-base: 18px;
$font-family-base: district_prothin;
$grid-gutter-width: 26px;

/* custom variables */
$footerHeight: 200px;
$topLinksHeight: 40px;
$tileHeight: 400px;
$compositeColor: #e6e6e6;
$shadowColor: $text-color;
$c123Color: #4488d5;
$mainGradientTop: #070f22;
$mainGradientBottom: #1d314e;

/* bootstrap */
@import "bootstrap-sass/lib/bootstrap";

/* overrides */
.list-inline.pull-right {
  > li:last-child {
    padding-right: 0;
  }
}


/* 3. helper classes
-------------------------------------------------- */

.hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden
}


/* 4. baseline styles
-------------------------------------------------- */

body {
  //@include gradient-vertical(#002355,#3478aa);
  //@include gradient-vertical(#001642,#00467F);
  @include gradient-vertical($mainGradientTop,$mainGradientBottom);
  background-color: $mainGradientBottom;
  line-height: 1.5;
}

h1 {
  font-size: 140%;
  font-weight: bold;
}
h2 {
  font-size: 130%;
}
h3 {
  font-size: 120%;
}
h4,h5,h6 {
  font-size: 110%;
}

a {
  @include transition(color,text-shadow,.25s);
  text-decoration: none !important;
}


/* 5. layout
-------------------------------------------------- */

/* sticky footer */
html,
body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto $footerHeight * -1;
  padding: 0 0 $footerHeight;
}
#footer {
  height: $footerHeight;
}


/* 6. custom styles
-------------------------------------------------- */

#wrap:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $topLinksHeight;
  border-bottom: 1px solid $mainGradientBottom;
}

#top-links {
  height: $topLinksHeight;
  line-height: $topLinksHeight;
  a {
    color: #fff;
  }
}

#header,
#footer {
  a {
    color: $compositeColor;
    font-weight: bold;
    &:hover {
      color: white;
      text-shadow: 0 0 4px #ddd;
    }
  }
}

#header {
  padding-bottom: 20px;
  #header-nav {
    padding-top: 30px;
    a {
      font-weight: normal;
    }
    .logo {
      position: relative;
      span {
        height: 50px;
        color: #fff;
        &.one {
          line-height: 50px;
          font-size: 26px;
          font-weight: bold;
        }
        &.completed {
          line-height: 44px;
          font-family: lane;
          font-size: 37px;
        }
      }
/*      &:after,
      span:before,
      &:before {
        content: '';
        z-index: -1;
        position: absolute;
      }
      &:before {
        top: -27px;
        left: 70px;
        display: block;
        width: 74px;
        height: 74px;
        background-color: #4e72bc;
        @include opacity(70);
      }*/
/*      &:after {
        top: -10px;
        left: 70px;
        display: block;
        width: 70px;
        height: 70px;
        background-color: #415a91;
        @include opacity(50);
      }
      span:before {
        top: 0;
        left: 30px;
        display: block;
        width: 90px;
        height: 90px;
        background-color: #244791;
        @include opacity(70);
      }*/
    }
    nav {
      padding-top: 30px;
      li {
        padding-right: 0;
        padding-left: 2em;
        font-size: 1.3em;
      }
    }
  }
}

.services-list, .links-list {
  li {
    font-size: 1em;
  }
}
.services-list {
  line-height: 2.7;
  li {
    &:not(:last-child) {
      border-bottom: 1px solid #cccccc;
    }
  }
}

.links-list {
  li {
    line-height: 2;
  }
}


/* TODO make more specific, so it would apply only to layout boxes */
#home,
#main {
  section {
    min-height: $tileHeight;
    margin-bottom: $grid-gutter-width + 4;
    padding: $grid-gutter-width + 12;
    background-color: $compositeColor;
    //background-color: #008dc6;
    a {
      font-weight: bold;
      text-shadow: 1px 1px 0 #ffffff;
    }
    > h1,
    > section > h1 {
      margin-top: 0;
    }
  }
}
#home section {
  height: $tileHeight;
  > h1,
  > section > h1 {
    margin-top: -10px;
  }
}

#footer {
  position: relative;
  background-color: $mainGradientTop;
  color: #cccccc;
  .row {
    background-color: $mainGradientTop;
  }
  a {
    color: #cccccc;
  }
  [class*="col-"] {
    margin-top: $grid-gutter-width;
    height: $footerHeight - $grid-gutter-width * 2;
    &:not(:last-child) {
      border-right: 1px solid $mainGradientBottom;
    }
  }
  .website-meta {
    img {
      padding: 0 4px 0 0;
    }
  }
  .copyright {
    position: absolute;
    bottom: 0;
    right: $grid-gutter-width / 2;
  }
}

.services-map {
  width: 100%;
  height: 400px;
  margin: $grid-gutter-width 0;
  border: 0 none;
}

/* animation */
// TODO resolve animation enter container flow (when the DOM has both containers)
#wrap {
  //min-height: $tileHeight;
  //position: relative;
}
.ng-enter, .ng-leave {
  //position: absolute;
  @include transition(all .2s linear 0);
}

.ng-enter {
  @include opacity(0);
}

.ng-enter.ng-enter-active {
  @include opacity(100);
}

.ng-leave {
  @include opacity(100);
}

.ng-leave.ng-leave-active {
  @include opacity(0);
}
