<section class="services" ng-controller="ServicesCtrl">
    <div class="global-services">
        <h1>{{ model.globalServices.title }}</h1>
        <div class="island">
            <p>{{ model.globalServices.excerpt }}</p>
            <p>{{ model.globalServices.prefix }}</p>
        </div>
        <div class="global-services-map">
            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    ng-src="https://www.google.com/maps/ms?msa=0&msid=201762555821246510096.0004e538a20e95f2b2269&hl=en&ie=UTF8&ll=36.38711,8.745514&spn=47.094341,261.892385&t=m&output=embed"></iframe>
        </div>
    </div>
</section>
