<div class="container">

    <section class="pad-btm">
        <h1>IT Troubleshooting &amp; Consulting</h1>
        <p>
            1 2 3 Completed Consulting offers access to some of the most esteemed experts in the market.
            Our experts are highly skilled analysts, designers and developers who specialize in meeting mission
            critical technological challenges. Our consulting services are offered from the preliminary stages
            of planning a development product, i.e. application, and continue through the entire project life 						 cycle.
        </p>
        <p>
            We guide our customers regarding the analysis of the requirements, the definition of the
            system specifications and the design of the final architecture of the product. In the next stage,
            we advise our customers with regard to the selection of the system platform, DB, Application Server
            and other supporting software tools. In some cases, when our customer has already equipped itself
            with any specific platform hardware or software, we provide our knowledge on how to adjust the
            system design and architecture to run over such platform and reach ultimate performance.
        </p>
        <p>
            Upon completion of the definition of the project stages, we support our customers in the
            process of selecting and establishing the most appropriate teams for the project execution, whether
            internal teams, third party's or the experts from 1 2 3 Completed. If required, we then design and
            provide customized training to qualify the selected staff to successfully accomplish the mission.
        </p>
        <p>
            In addition, 1 2 3 Completed provides continuous support throughout the implementation of the
            project and the successful completion of each of its phases, i.e. implementation, testing, code
            review, benchmarking, release planning and configuration management. We also provide ongoing
            consultation to any technical difficulties that may arise throughout the production process, new
            releases of the product, expansions and any other stage of the product generation.
        </p>
    </section>

    <section class="letter testimonial">
        <blockquote>
            When seeking for
            top of the line recognized consultants in our domain it was obvious to us that 1 2 3 Completed
            composes the skill set, dedication and expertise to assist us in becoming a market leader. 1 2 3
            Completed is continuously assisting us in our Research and Development and QA efforts. I must say
            that the 1 2 3 Completed company name says it all. These guys know how to deliver!
        </blockquote>
        <p class="ref">
            Lanir Shacham, CTO, Correlsense.
        </p>
    </section>
</div>
