<div class="container">

    <section>
        <h1>Job Opportunities</h1>

        <p>
            Please send relevant CV&apos;s to
            <a href="mailto:info@123Completed.com?subject=apply%20for%20position:%20CV">
                info@123Completed.com</a>, please indicate the position number in the subject field.
        </p>

        <h2><a href="mailto:info@123Completed.com?subject=apply%20for%20position%20%23400">
            400 &mdash; Java / J2EE Developers</a></h2>
        <ul>
            <li>At least 2 years experience in Java technology.</li>
            <li>Knowledge of J2EE technology.</li>
            <li>Object Oriented Design and programming experience.</li>
            <li>Presentation skills and good interpersonal relations.</li>
            <li>Advantage &mdash; Oracle DB experience.</li>
            <li>Advantage &mdash; Experience in one or more of the following Java
                profilers: OptimizeIt, JProbe JProfiler.
            </li>
            <li>Advantage &mdash; Experience in development Frameworks, e.g. Struts,
                ANT, JSF, UIX.
            </li>
        </ul>

        <h2><a href="mailto:info@123Completed.com?subject=apply%20for%20position%20%23410">
            410 &mdash; Java/J2EE Architects</a></h2>
        <ul>
            <li>At least 2 years experience in J2EE technology.</li>
            <li>Object Oriented Design and programming experience.</li>
            <li>Presentation skills and good interpersonal relations.</li>
            <li>Advantage &mdash; Oracle DB experience.</li>
            <li>Experience in one or more of the following servers: BEA Weblogic
                Server, IBM Websphere, Oracle Application Server, and JBoss.
            </li>
        </ul>

        <h2><a href="mailto:info@123Completed.com?subject=apply%20for%20position%20%23420">
            420 &mdash; J2EE Server Administrators</a></h2>
        <ul>
            <li>At least 2 years experience in J2EE technology.</li>
            <li>Object Oriented Design and programming experience.</li>
            <li>Presentation skills and good interpersonal relations.</li>
            <li>Advantage &mdash; Oracle DB experience.</li>
            <li>Experience in one or more of the following servers: BEA Weblogic
                Server, IBM Websphere, Oracle Application Server, and JBoss.
            </li>
            <li>Advantage &mdash; Experience in one or more of the following operating
                systems: SUN Solaris, IBM AIX, HP/UX, Linux.
            </li>
        </ul>

        <h2><a href="mailto:info@123Completed.com?subject=apply%20for%20position%20%23500">
            500 &mdash; Oracle DBAs</a></h2>
        <ul>
            <li>At least 2 years experience in Oracle 8i/9i.</li>
            <li>Object oriented design and programming experience.</li>
            <li>Advantage &mdash; Experience in one or more of the following operating
                systems: SUN Solaris, IBM AIX, HP/UX, Linux.
            </li>
        </ul>

        <h2><a href="mailto:info@123Completed.com?subject=apply%20for%20position%20%23600">
            600 &mdash; Linux Experts</a></h2>
        <ul>
            <li>At least 2 years experience.</li>
            <li>Advantage &mdash; Oracle DB experience.</li>
        </ul>

        <h2><a href="mailto:info@123Completed.com?subject=apply%20for%20position%20%23700">
            700 &mdash; C# Experts</a></h2>
        <ul>
            <li>At least 2 years experience.</li>
            <li>Advantage &mdash; Oracle DB experience.</li>
        </ul>

        <h2><a href="mailto:info@123Completed.com?subject=apply%20for%20position%20%23800">
            800 &mdash; DB2 Experts</a></h2>

        <h2><a href="mailto:info@123Completed.com?subject=apply%20for%20position%20%23810">
            810 &mdash; IBM Mainframe Experts</a></h2>

        <h2><a href="mailto:info@123Completed.com?subject=apply%20for%20position%20%23100">
            100 &mdash; Sales Representatives / Account Managers</a></h2>

        <p>
            Please send relevant CV&apos;s to
            <a href="mailto:info@123Completed.com?subject=apply%20for%20position:%20CV">
                info@123Completed.com</a>, please indicate the position number in the subject field.
        </p>
    </section>

</div>