<div class="container">

    <section class="pad-btm">
        <h1>Project Development</h1>
        <p class="island">
            We support the full project life cycle - strategic management orientation, requirements analysis,
            creating the development team either in house and/or with a third party, staff training,
            architectural and system specification, selecting software applications and tools, design,
            implementation, testing, benchmarking, release planning, and configuration management. At any
            point, we can conduct a highly effective knowledge transfer after the initial deployment, or
            stay and assist as long as you need us.
        </p>
    </section>

    <section class="letter testimonial">
        <blockquote>
            BluePhoenix KMS had some very complex projects that required
            understanding and high delivery capabilities. For these projects we have used 1 2 3 Completed as a
            development and integration arm. We were very satisfied with the outcome of 1 2 3 Completed work.
            It was extremely professional, and on time.
        </blockquote>
        <p class="ref">Nir Levion, General Manager, BluePhoenix KMS</p>
    </section>
</div>
