
<!-- TODO staff member to directive -->

<section class="staff">

    <h1>The Staff</h1>

    <div class="member">
        <img class="img-thumbnail" src="/images/staff/eyal.png" alt="Eyal Rubin's Portrait" width="80" height="80" />
        <h2>Eyal Rubin, Founder, CEO</h2>
        <p>
            Eyal Rubin has been the Founder and Chief Executive Officer of 1 2 3 Completed since January 2009.
            Eyal brings more than 20 years of experience in enterprise application infrastructures and
            professional services. Eyal Co-founded Transparency software and served as VP Reaserch and
            Development and CTO of Transparency Software. Eyal Co-founded and served as CEO of 2Train4 INC
            (acquired by eWave). Eyal is a recognized visionary leader, entrepreneur, inventor, enterprise
            software leading consultant, a top Oracle &amp; J2EE expert and instructor for leading edge technology
            companies. Eyal is an expert in managing technically complex projects, complex enterprise system
            architectures and enterprise monitoring systems for performance, security and compliance. Eyal
            established powerful partnerships and provided services and strategic technology consultancy to
            more than 100 accounts. As part of Eyal's customer and partner list you can find: Oracle, Mercury
            Interactive (acquired by HP) , Cisco Systems, Computer Associates, HP, BEA systems (acquired by
            Oracle), Sun Microsystems (acquired by Oracle), Amdocs (NYSE: DOX), Comverse Technologies and many
            others. Eyal earned his Computer Science and Economics Degree in Bar-Ilan University, Israel.
        </p>
        <ul class="contact-links list-unstyled">
            <li>
                <!--<a class="icon-email" href="mailto:eyal.rubin@123completed.com" title="E-Mail Eyal Rubin at eyal.rubin@123completed.com"></a>-->
                <a class="fa-stack-exchange" href="mailto:eyal.rubin@123completed.com" title="E-Mail Eyal Rubin at eyal.rubin@123completed.com"></a>
            </li>
            <li>
                <a class="icon-linkedin" href="http://il.linkedin.com/pub/eyal-rubin/0/165/a27" title="Eyal Rubin's LinkedIn Profile"></a>
            </li>
        </ul>
    </div>

    <div class="member">
        <img class="img-thumbnail" src="/images/staff/alons.jpg" alt="Alon Strikovsky's Portrait" width="80" height="80" />
        <h2>Alon Strikovsky, VP Professional Services</h2>
        <p>
            Alon brings more than 27 years of experience in the IT industries. In the past years as VP R&amp;D
            position Alon was responsible for developing and managing a J2EE and Web applications based on
            Linux and Oracle environment. Alon has worked intensively on establishing financial and credit card
            product systems worldwide. In his prior position, Alon managed for several years the R&amp;D
            department of the largest credit card company in Israel. Alon has large experience in the credit
            card market. In his years of experience Alon developed, led and managed financial product and
            credit card products, retail, accounting systems and shop floor control systems. Alon has worked
            for 6 years on leading projects in the United States and has over 15 years of experience in
            developing using complex enterprises systems and variety of operation systems. Alon brings to
            1 2 3 Completed years of management experience, system analysis capabilities, and experience in
            leading R&amp;D teams, worldwide project leading and years of experience in system implementation.
            Alon has BA degree in business Administration from Newport University, California.
        </p>
        <ul class="contact-links list-unstyled">
            <li>
                <a class="icon-email" href="mailto:alonst@123completed.com" title="E-Mail Alon Strikovsky at alonst@123completed.com"></a>
            </li>
            <li>
                <a class="icon-linkedin" href="http://il.linkedin.com/pub/alon-strikovsky/1/29b/779" title="Alon Strikovsky's LinkedIn Profile"></a>
            </li>
        </ul>
    </div>
</section>
