<section class="pad-btm">
    <h1>Success Stories</h1>
    <p>
        We at 1 2 3 Completed are taking pride at our great customer relationships. Our customer&apos;s
        success is our success. We are working hand in hand with our customers in order to guarantee
        satisfaction and we are flexible enough to work with any business model that will enable our
        customers to announce a win&ndash;win partnership.
    </p>
</section>

<section class="letter testimonial">
    <a class="logo-ribbon" href="http://www.gigaspaces.com/">
        <img src="/images/logos/companies/gigaspaces-testimonial.png" alt="GigaSpaces" width="180" height="40" />
    </a>
    <blockquote>
        We are very pleased with <span class="nowrap">1 2 3 Completed</span>
        ability to provide us services in so many domains. 123Completed consulting
        and training services help us win accounts and maintain existing customers
        to the highest customer satisfactory level. Your contribution to our
        product development is very well noticed and your work force is
        demonstrating the highest professionalism. We would like also to thank you
        for developing our new education courseware as well as delivering it
        worldwide with such great success. Thank you for providing us with such a
        great service and for being such a committed agile partner.
    </blockquote>
    <p class="ref">
        Gershon Diner, VP Customer Services &amp; Support, GigaSpaces
    </p>
</section>

<section class="letter testimonial">
    <a class="logo-ribbon" href="http://www.oracle.com/">
        <img src="/images/logos/companies/oracle-testimonial.png" alt="Oracle" width="180" height="40" />
    </a>
    <blockquote>
        I have been working with <span class="nowrap">1 2 3 Completed</span> experts
        for several years now. <span class="nowrap">1 2 3 Completed</span> is a
        great Oracle Partner, assisting us in various domains and are always
        delivering excellent results in the projects they are involved in.
    </blockquote>
    <p class="ref">
        Sary Zuck, Defence Sector Manager, Oracle
    </p>
    <blockquote>
        Oracle is proud to have <span class="nowrap">1 2 3 Completed</span> as
        a training and services provider. The relationship between Oracle and
        <span class="nowrap">1 2 3 Completed</span> experts has proven itself
        for over 15 years now. We are happy to place any projects in the safe
        hands of <span class="nowrap">1 2 3 Completed</span>.
    </blockquote>
    <p class="ref">
        Noam Wekser, Oracle University Israel Director, Oracle
    </p>
</section>

<section class="letter testimonial">
    <a class="logo-ribbon" href="http://www.pontis.com/">
        <img src="/images/logos/companies/pontis-testimonial.png" alt="Pontis" width="180" height="40" />
    </a>
    <!--
    <blockquote>
        Pontis CONTEXTUAL Marketing &amp; Selling solution for core Mobile
        and TV services helps operators increase ARPU, reduce churn rates, and increase customer loyalty
        through the delivery of contextual, personalized marketing programs. Installed at multiple tier-1
        mobile operator and TV service provider sites around the world, the Pontis Marketing Delivery
        Platform (MDP&trade;) automatically tracks behavioral profiles and ever-changing customer states,
						and then adapts marketing dialogues and offers to each customer individually. The system supports
						the full lifecycle of the marketing process - from the definition of objectives and plans, through
						the dialogue with the customer and the sales transaction, and up to the detailed analysis of
						results.
					</blockquote>
					-->
    <blockquote>
        Pontis seeks both quality and productivity. Our partnership with
        <span class="nowrap">1 2 3 Completed</span> provided us with a true R&amp;D
        partnership, expertise, great service and availability.
        <span class="nowrap">1 2 3 Completed</span> contributed significantly to our
        platform architecture and performance always keeping security in mind. We at
        Pontis are happy to be a <span class="nowrap">1 2 3 Completed</span>
        reference and recommend their services to all.
    </blockquote>
    <p class="ref">
        Shachar Segev, CTO, Pontis
    </p>
</section>

<section class="letter testimonial">
    <a class="logo-ribbon" href="http://www.zerto.com/">
        <img src="/images/logos/companies/zerto-testimonial.png" alt="Zerto" width="180" height="40" />
    </a>
    <blockquote>
        I would like to thank you for the high quality delivery of the .NET
        project as well as the research project conducted by you on our behalf.
        You have met all our goals, and we will be happy to use your services in the
        future.
    </blockquote>
    <p class="ref">
        Oded Kedem, co-founder and chief technology officer, Zerto
    </p>
</section>

<section class="letter testimonial">
    <a class="logo-ribbon" href="http://www.bphx.com/">
        <img src="/images/logos/companies/bphx-testimonial.png" alt="BluePhoenix" width="180" height="40" />
    </a>
    <blockquote>
        BluePhoenix KMS had some very complex projects that required
        understanding and high delivery capabilities. For these projects we have used 1 2 3 Completed as a
        development and integration arm. We were very satisfied with the outcome of 1 2 3 Completed work.
        It was extremely professional, and on time.
    </blockquote>
    <p class="ref">
        Nir Levion, General Manager, BluePhoenix KMS
    </p>

    <blockquote>
        BluePhoenix KMS have been utilizing and leveraging 123Completed
        services for the past few years. 1 2 3 Completed is a top of the line professional IT integration
        partner, and their contribution to the success of our knowledge management product and customer
        satisfaction is crucial. We asked for their assistance with some of the most complex challenges we
        had, and Eyal and his team met every technical challenge in a creative, efficient, on time and on
        budget manner. 1 2 3 Completed team supports our R&amp;D, delivery presale and support
        organizations. 123Completed provided us the confidence that regardless of the challenge, the
        timeframe or the location in the world &mdash; they will work with us to achieve the goals. We
        highly recommend 123Completed work and partnership, and will be happy to share our excellent
        experience with others.
    </blockquote>
    <p class="ref">
        Avishai Shafir, VP Marketing &amp; Pre-sale, BluePhoenix KMS
    </p>
</section>

<section class="letter testimonial">
    <a class="logo-ribbon" href="http://www.mobixell.com/">
        <img src="/images/logos/companies/mobixell-testimonial.png" alt="Mobixell" width="180" height="40" />
    </a>
    <blockquote>
        I wanted to thank you for the improvements in performance, you have
        achieved in our system. You demonstrated a good understanding of our problem in a relatively short
        time and quickly suggested/implemented a different solution, thus improving performance by a ratio
        of 20&ndash;50 times. I look forward to continued cooperation with you on other subjects and to
        employing your profound knowledge in the combination of Java and application servers working with
        Oracle via Hibernate.
    </blockquote>
    <p class="ref">
        Gadi Inon, Director, Solutions Architect, Solutions and Innovations
        Group, Mobixell Networks
    </p>
    <blockquote>
        Mobixell hired the services of 123Completed for the delivery of a complex
        data aggregation project. 123 Completed has provided Mobixell with a high
        quality project that meets all requirements. 123Completed has demonstrated
        flexibility and true partnership throughout the execution of this and other
        projects. 123Completed is our default subcontractor choice for any
        java-database oriented projects and consulting. We at Mobixell recommend
        123Completed services to all.
    </blockquote>
    <p class="ref">
        Oren Zucker, Infrastructure and Projects Group Manager, Mobixell
    </p>
</section>

<section class="letter testimonial">
    <a class="logo-ribbon" href="http://www.tadirantele.com/">
        <img src="/images/logos/companies/tadiran-telecom-testimonial.png" alt="Tadiran Telecom" width="180" height="40" />
    </a>
    <blockquote>
        Thank you for the training. Considering the limited time given  for this
        training it was an excellent overview and initial hands on experience.
    </blockquote>
    <p class="ref">
        Menahem Zeltzer, Tadiran Telecom
    </p>
</section>

<section class="letter testimonial">
    <a class="logo-ribbon" href="http://www.comability.com/">
        <img src="/images/logos/companies/comability-testimonial.png" alt="ComAbility" width="180" height="40" />
    </a>
    <blockquote>
        After many years of experience with 1 2 3 Completed founders, it was
        pleasure to hear that they have established a service company once again. With the extensive
        expertise and excellent reputation, we have decided to hire 1 2 3 Completed for one of our
        strategic efforts. The 1 2 3 Completed team demonstrated deep understanding and got up to speed
        very quickly, the team executed with top professionalism which resulted in a very successful
        engagement. Our experience with 1 2 3 Completed was nothing but sheer success.
    </blockquote>
    <p class="ref">
        Chen Burshan, VP Product Management, ComAbility
    </p>
</section>

<section class="letter testimonial">
    <a class="logo-ribbon" href="http://www.orcainteractive.com/">
        <img src="/images/logos/companies/orca-testimonial.png" alt="Orca Interactive" width="180" height="40" />
    </a>
    <blockquote>
        I would like to thank you for your contribution to the significant
        performance improvement of COMPASS, Orca's innovative new product for content recommendation. Your
        advice regarding how to configure the Java environment, how to tune the Oracle DB and how to
        optimize their software connecting them, were essential in reaching excellent runtime performance.
    </blockquote>
    <p class="ref">
        Miri Curiel, VP R&amp;D, Orca Interactive
    </p>
</section>

<section class="letter testimonial">
    <a class="logo-ribbon" href="http://www.correlsense.com/">
        <img src="/images/logos/companies/correlsense-testimonial.png" alt="" width="180" height="40" />
    </a>
    <!--
    <blockquote>
        Correlsense has developed the first IT Reliability solution,
        SharePath, enabling enterprises to automatically generate a central, real-time repository of
        detailed, contextual knowledge regarding their applications and infrastructure.
    </blockquote>
    -->
    <blockquote>
        When seeking for
        top of the line recognized consultants in our domain it was obvious to us that 1 2 3 Completed
        composes the skill set, dedication and expertise to assist us in becoming a market leader. 1 2 3
        Completed is continuously assisting us in our Research and Development and QA efforts. I must say
        that the 1 2 3 Completed company name says it all. These guys know how to deliver!
    </blockquote>
    <p class="ref">
        Lanir Shacham, CTO, Correlsense
    </p>
</section>

<section class="letter testimonial">
    <a class="logo-ribbon" href="http://www.oraplayer.com/">
        <img src="/images/logos/companies/oraplayer-testimonial.png" alt="" width="180" height="40" />
    </a>
    <blockquote>
        During the development process when we at OraPlayer Ltd. had advanced
        architecture questions we turned to 123Completed for consultation in performance improvements and
        architecture for scalability. 123Completed advise helped us provide a top of the line solution
        that is ready for extreme deployment environments and led to many happy customers. OraPlayer
        highly recommends 123 Completed to any company that wants to improve their solution and meet
        customer expectations.
    </blockquote>
    <p class="ref">
        Mia Urman, CEO, OraPlayer
    </p>
</section>

<section class="letter testimonial">
    <a class="logo-ribbon" href="http://www.bphxkms.com/">
        <img src="/images/logos/companies/dsk-testimonial.png" alt="" width="180" height="40" />
    </a>
    <blockquote>
        DSKnowledge LTD is a leading provider and development house of
        knowledge management and delivery products platform since 2004. As CEO of DSKnowledge, I had to
        identify a System Integrator who can comply with our growing integration needs and understands our
        business requirements as well. We Choose 1 2 3 Completed to partner with and it went beyond our
        expectations. Since we initiate the engagement with 1 2 3 Completed several very aggressive
        projects has been successfully executed as well as supporting our R&amp;D, professional services
        and sales efforts. The flexibility, expertise, professionalism and real win-win strategy that we
        have established has proven itself on a daily basis. I recommend 1 2 3 Completed services to all
        my colleagues, the added value they bring is huge in many aspects and so is their business
        approach.
    </blockquote>
    <p class="ref">
        Nir Lavion, CEO, DSKnowledge
    </p>
</section>
