<!-- TODO to directive -->
<!--
        <div class="col-md-4">

            <div class="technologies">

                <ul class="fluid-list">
                    <li>
                        <a href="http://www.gigaspaces.com/" title="GigaSpaces">
                            <img src="/images/logos/technologies/gigaspaces-small.png" width="100" height="30" alt="GigaSpaces">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.cloudifysource.org/" title="GigaSpaces Cloudify">
                            <img src="/images/logos/technologies/cloudify-small.png" width="100" height="30"
                                 alt="GigaSpaces Cloudify">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.postgresql.org/" title="PostgreSQL">
                            <img src="/images/logos/technologies/postgresql-small.png" width="100" height="30" alt="PostgreSQL">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.springsource.org/" title="Spring">
                            <img src="/images/logos/technologies/spring-small.png" width="100" height="30" alt="Spring">
                        </a>
                    </li>
                    <li>
                        <a href="http://code.google.com/webtoolkit/" title="GWT">
                            <img src="/images/logos/technologies/gwt5-small.png" width="100" height="30" alt="GWT">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.jboss.org/" title="JBoss">
                            <img src="/images/logos/technologies/jboss-small.png" width="100" height="30" alt="JBoss">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.java.com/" title="Java">
                            <img src="/images/logos/technologies/java-small.png" width="100" height="30" alt="Java">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.microsoft.com/net" title=".NET">
                            <img src="/images/logos/technologies/dot-net-small.png" width="100" height="30" alt=".NET">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.oracle.com/us/products/database/index.html" title="Oracle Database">
                            <img src="/images/logos/technologies/oracle-database-small.png" width="100" height="30"
                                 alt="Oracle Database">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.oracle.com/us/products/servers-storage/solaris/solaris11/overview/index.html"
                           title="Solaris">
                            <img src="/images/logos/technologies/solaris-small.png" width="100" height="30" alt="Solaris">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.redhat.com/" title="Redhat">
                            <img src="/images/logos/technologies/redhat-small.png" width="100" height="30" alt="Redhat">
                        </a>
                    </li>
                    <li>
                        <a href="http://tomcat.apache.org/" title="Apache Tomcat">
                            <img src="/images/logos/technologies/tomcat-small.png" width="100" height="30" alt="Apache Tomcat">
                        </a>
                    </li>
                    <li>
                        <a href="http://www-01.ibm.com/software/websphere/" title="Websphere">
                            <img src="/images/logos/technologies/websphere-small.png" width="100" height="30" alt="Websphere">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.oracle.com/technetwork/middleware/weblogic/overview/index.html"
                           title="Oracle Weblogic">
                            <img src="/images/logos/technologies/oracle-weblogic-small.png" width="100" height="30"
                                 alt="Oracle Weblogic">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
-->
