<section>
<h1>Our Technology Domain</h1>

<h2>Databases</h2>

<p>
    1 2 3 Completed is proud to provide its customers with the best DBAs available in the market
    today. Our DB support and consultation is available from Real Application Cluster deployments to
    Schema Design and application tuning. Our database experts specialize in the following databases:
</p>
<ul>
    <li>
        Oracle all versions
    </li>
    <li>
        My SQL all versions
    </li>
    <li>
        MS SQL Server all versions
    </li>
</ul>
<h2>Application Servers</h2>

<p>
    1 2 3 Completed founders and consultants have long lasting expertise in application servers and
    J2EE market, being recognized by the top vendor's world wide as leading experts in the J2EE
    arena. We cover the application servers administration
</p>
<ul>
    <li>
        Oracle WebLogic Server
    </li>
    <li>
        IBM WebSphere
    </li>
    <li>
        JBOSS
    </li>
    <li>
        Oracle XiAS Application Server
    </li>
    <li>
        Glassfish
    </li>
    <li>
        Tomcat
    </li>
    <li>
        JRun
    </li>
</ul>
<h2>Project Development</h2>

<p>
    1 2 3 Completed has finalized several very successful projects enabling our customers to meet
    their goals and open new business opportunities. Our R&amp;D site is capable of supporting any
    development project and delivery any solution our customers will require.
</p>

<p>
    The following are some of the projects we have delivered:
</p>
<ul>
    <li>
        API Development &mdash; Web Services and SOA
        <p>
            1 2 3 Completed has finalized several successful projects in the area of API development
            allowing supporting both a Java client API as well as a Web Services API.
        </p>
        <ul>
            <li>
                Java Client API
            </li>
            <li>
                URL Based API
            </li>
            <li>
                Web Services API
            </li>
            <li>
                Other API
            </li>
        </ul>
    </li>
    <li>
        Data aggregation engines &amp; report engines
    </li>
</ul>
<p>
    1 2 3 Completed experts provide a unique combination of Database to development skills and
    therefore was the obvious choice to implement complex data aggregators and report engines for
    our customers. As part of our projects you can find the following:
</p>
<ul>
    <li>
        Transactional data aggregator
    </li>
    <li>
        Automatic report generator
    </li>
    <li>
        Asynchronous report execution
    </li>
</ul>
<h2>Analysis and design</h2>

<p>
    Each of our top experts has more than 10 years of experience in their field of expertise, some
    even more then 20 years. Our experts have led R&amp;D departments and were responsible for product
    deliveries:
</p>
<ul>
    <li>
        Assistance in evaluating technologies.
    </li>
    <li>
        Perform partial design.
    </li>
    <li>
        Take part in design meetings (CRC).
    </li>
    <li>
        Perform design review and evaluation.
    </li>
    <li>
        Project management.
    </li>
    <li>
        DB Schema design.
    </li>
    <li>
        DB physical design.
    </li>
    <li>
        Training on any of the above.
    </li>
</ul>
<h2>R&amp;D Infrastructure consultation</h2>
<ul>
    <li>
        Assistance in evaluating development tools.
    </li>
    <li>
        Build a development environment (CVS, ANT, XDoclet, etc).
    </li>
    <li>
        QA infrastructure configuration (Virtual machines, multiple deployment environments)
    </li>
    <li>
        Development life&ndash;cycle audit.
    </li>
    <li>
        Perform code development.
    </li>
    <li>
        Develop test plans.
    </li>
    <li>
        Perform code review and evaluation with a specific orientation &mdash; security, performance,
        stability or J2EE specification.
    </li>
    <li>
        Training on any of the above
    </li>
</ul>
<h2>Deployment</h2>
<ul>
    <li>
        Configuration and troubleshooting of clustering and high&ndash;availability environments.
    </li>
    <li>
        Evaluating deployment platforms (application servers, messaging servers).
    </li>
    <li>
        White&ndash;box penetration testing.
    </li>
    <li>
        Database tuning.
    </li>
    <li>
        Database hardening.
    </li>
    <li>
        Application server tuning.
    </li>
    <li>
        Application server hardening.
    </li>
    <li>
        Application profiling.
    </li>
    <li>
        Perform benchmarks.
    </li>
    <li>
        System administration of:
        <ul>
            <li>
                J2EE servers
            </li>
            <li>
                Linux systems
            </li>
            <li>
                Sun Solaris systems
            </li>
        </ul>
    <li>
        Training on any of the above.
    </li>
</ul>
</section>
