<div class="container">

    <div class="row">

        <!--
         <a href="http://www.w3.org/html/logo/">
            <img src="http://www.w3.org/html/logo/badge/html5-badge-h-solo.png" width="63" height="64" alt="HTML5 Powered" title="HTML5 Powered">
        </a>
        -->

        <!-- TODO duplicate this list at the top -->
        <!-- NOTE: tab-indexes 31-50 are reserved for bottom navigation -->
        <nav class="col-md-3">
            <ul class="links-list list-unstyled">
                <li>
                    <a tabindex="31" href="news-and-events.html">News &amp; Events</a>
                </li>
                <li>
                    <a tabindex="32" href="contact-us.html">Contact Us</a>
                </li>
                <li>
                    <a tabindex="33" href="job-opportunities.html">Job Opportunities</a>
                </li>
                <li>
                    <a tabindex="34" href="copyright-notice.html">Copyright Notice</a>
                </li>
            </ul>
        </nav>

        <div class="col-md-3"></div>

        <div class="col-md-3 text-center website-meta">
            <p>
                <img src="images/logos/technologies/angularjs.png" />
                Built with <a href="http://angularjs.org/">Angular JS</a>
            </p>
            <p>
                Created by <a href="management.html#eliran-malka">Eliran Malka</a>
            </p>
        </div>

        <div class="col-md-3">
            <span class="copyright">© 1 2 3 Completed 2014</span>
        </div>
    </div>
</div>
