<footer id="footer" style="opacity: 0.5;">
    <!--
     <a href="http://www.w3.org/html/logo/">
        <img src="http://www.w3.org/html/logo/badge/html5-badge-h-solo.png" width="63" height="64" alt="HTML5 Powered" title="HTML5 Powered">
    </a>
    -->
    <span class="copyright">© 1 2 3 Completed 2012</span>

    <!-- NOTE: tab-indexes 61-80 are reserved for bottom navigation -->
    <ul id="bottom-nav">
        <li class="no-bullet">
            <a tabindex="61" href="#content/news-and-events.html">News &amp; Events</a>
        </li>
        <li>
            <a tabindex="62" href="#content/contact-us.html">Contact Us</a>
        </li>
        <li>
            <a tabindex="63" href="#content/job-opportunities.html">Job Opportunities</a>
        </li>
        <li>
            <a tabindex="64" href="#content/copyright-notice.html">Copyright Notice</a>
        </li>
    </ul>
</footer>
