<header id="header" class="bs-1">
    <nav id="main-nav">
        <!-- NOTE: tab-indexes 11-60 are reserved for main navigation -->
        <ul id="nav-list" class="sf-menu no-bullets sf-js-enabled sf-shadow">
            <li>
                <a tabindex="11" href="/index.html" class="top-level sf-with-ul">About<span
                        class="sf-sub-indicator"> »</span></a>
                <ul style="display: none; visibility: hidden;">
                    <li>
                        <a tabindex="12" href="/content/company-profile.html">Company Profile</a>
                    </li>
                    <li>
                        <a tabindex="13" href="/content/management.html">Management</a>
                    </li>
                    <li>
                        <a tabindex="14" href="/content/methodology.html">Methodology</a>
                    </li>
                    <li>
                        <a tabindex="15" href="/content/technology-domain.html">Technology Domain</a>
                    </li>
                </ul>
            </li>
            <li>
                <a tabindex="21" href="/content/services.html" class="top-level sf-with-ul">Services<span
                        class="sf-sub-indicator"> »</span></a>
                <ul style="display: none; visibility: hidden;">
                    <li>
                        <a tabindex="22" href="/content/project-development.html">Project Development</a>
                    </li>
                    <li>
                        <a tabindex="23" href="/content/it-troubleshooting-and-consulting.html">IT Troubleshooting and
                            Consulting</a>
                    </li>
                    <li>
                        <a tabindex="24" href="/content/training.html">Training</a>
                    </li>
                    <li>
                        <a tabindex="25" href="/content/rnd-staff-augmentation.html">R&amp;D Staff Augmentation</a>
                    </li>
                    <li>
                        <a tabindex="26" href="/content/professional-services-execution-arm.html">Professional Services
                            Execution Arm</a>
                    </li>
                </ul>
            </li>
            <li>
                <a tabindex="31" href="/content/business-relations.html" class="top-level sf-with-ul">Business Relations<span
                        class="sf-sub-indicator"> »</span></a>
                <ul style="display: none; visibility: hidden;">
                    <li>
                        <a tabindex="32" href="/content/customers.html">Customers</a>
                    </li>
                    <li>
                        <a tabindex="33" href="/content/partners.html">Partnerships</a>
                    </li>
                    <li>
                        <a tabindex="34" href="/content/success-stories.html">Success Stories</a>
                    </li>
                </ul>
            </li>
            <li>
                <a tabindex="41" href="/content/contact-us.html" class="top-level">Contact</a>
            </li>
        </ul>
    </nav>

    <!-- NOTE: tab-indexes 1-10 are reserved for first-level hooks -->
    <span class="consult">Call for Consulting: +972-54-260-7104</span>
    <a tabindex="1" title="to navigation" href="#main-nav" class="jump-to-nav hidden">Jump To Navigation</a>
    <a tabindex="6" title="Home" href="/index.html" id="logo" class="round-14"></a>
</header>
