
<div id="ticker">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <section ng-include="'views/partials/who-we-are.html'"></section>
            </div>
            <div class="col-md-8">
                <banner></banner>
            </div>
        </div>
    </div>
</div>

<div id="home">

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <section class="acknowledgments-box">
                    <h2>Our customers say</h2>
                    <div acknowledgments></div>
                    <a class="home-link pull-right" href="/success-stories#top">See references</a>
                </section>
            </div>
            <div class="col-md-4">
                <section class="what-we-do" ng-include="'views/partials/what-we-do.html'"></section>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <section class="technologies-box">
                    <h2>What we use</h2>
                    <technologies></technologies>
                    <a class="home-link pull-right" href="/technology-domain#top">Learn more</a>
                </section>
            </div>
        </div>
    </div>
</div>
