<div id="home">

    <div class="row">
        <div class="col-md-8">
            <section>
                <!-- TODO insert ticker / slider -->
            </section>
        </div>
        <div class="col-md-4">
            <section ng-include="'views/partials/what-we-do.html'"></section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <section ng-include="'views/partials/who-we-are.html'"></section>
        </div>
        <div class="col-md-4">
            <section></section>
        </div>
        <div class="col-md-4">
            <section></section>
        </div>
    </div>

    <div class="row">
        <!--<div class="col-md-8" ng-include="'views/partials/technologies.html'"></div>-->
    </div>
</div>
