<div id="wrapper" class="container-fluid">
    <div ng-include="'views/header.html'" class="row-fluid"></div>
    <div ng-switch="data.url">
        <div ng-switch-when="/">
            <div ng-include="'views/home.html'"></div>
        </div>
        <div ng-switch-default>
            <div id="inner" class="row-fluid">
                <div ng-include="'views/sidebar.html'" class="span4"></div>
                <div ng-include="'views/partials/' + data.route.current.params['page']" class="span8"></div>
            </div>
        </div>
    </div>
    <div ng-include="'views/footer.html'"></div>
</div>
