<nav id="main-nav">
    <ul class="list-inline pull-right">
        <li class="dropdown" ng-repeat="topItem in data.model">
            <!--<a ng-href="{{ topItem.link }}" ng-class="topItem.children ? 'dropdown-toggle' : ''">{{ topItem.label }}</a>-->
            <a ng-href="{{ topItem.link }}">{{ topItem.label }}</a>
            <ul class="dropdown-menu" ng-if="topItem.children">
                <li ng-repeat="item in topItem.children">
                    <a ng-href="{{ item.link }}">{{ item.label }}</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>