<div id="main" class="container">

    <div class="row">
        <div class="span8">
            content
        </div>
        <div class="span4">
            content
        </div>
    </div>

    <div class="row">
        <!-- who are we? -->
        <div class="span4">
            <h1>Who we are?</h1>

            <p>
                We are a leading System Integrator, R&amp;D, IT Consulting and Training
                company, Our experts combine the skill set of Database Administers with
                Java Architects expertise, and have managed enterprise level projects
                as well as agile startups R&amp;D environments.
            </p>

            <p>
                We are not afraid of any challenge and we have
                <a href="#content/success-stories.html">the references</a>
                to prove it.
            </p>
        </div>
        <!-- what we do? -->
        <!--<div class="span4">-->
        <div class="span8">
            <h1>What we do?</h1>
            <ul class="no-bullets">
                <!-- NOTE: tab-indexes 81-90 are reserved for services links -->
                <li>
                    <a tabindex="81" href="#project-development.html">
                        <span class="icon development"></span>
                        <span class="title">Project Development</span>
                    </a>
                </li>
                <li>
                    <a tabindex="82" href="#it-troubleshooting-and-consulting.html">
                        <span class="icon consulting"></span>
                        <span class="title">IT Troubleshooting And Consulting</span>
                    </a>
                </li>
                <li>
                    <a tabindex="83" href="#training.html">
                        <span class="icon training"></span>
                        <span class="title">Training</span>
                    </a>
                </li>
                <li>
                    <a tabindex="84" href="#rnd-staff-augmentation.html">
                        <span class="icon staff"></span>
                        <span class="title">R&amp;D Staff Augmentation</span>
                    </a>
                </li>
                <li>
                    <a tabindex="85" href="#professional-services-execution-arm.html">
                        <span class="icon pro-services"></span>
                        <span class="title">Professional Services Execution Arm</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- technologies -->
<!--
        <div class="span4">

            <div class="technologies">

                <ul class="fluid-list">
                    <li>
                        <a href="http://www.gigaspaces.com/" title="GigaSpaces">
                            <img src="/images/logos/technologies/gigaspaces-small.png" width="100" height="30" alt="GigaSpaces">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.cloudifysource.org/" title="GigaSpaces Cloudify">
                            <img src="/images/logos/technologies/cloudify-small.png" width="100" height="30"
                                 alt="GigaSpaces Cloudify">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.postgresql.org/" title="PostgreSQL">
                            <img src="/images/logos/technologies/postgresql-small.png" width="100" height="30" alt="PostgreSQL">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.springsource.org/" title="Spring">
                            <img src="/images/logos/technologies/spring-small.png" width="100" height="30" alt="Spring">
                        </a>
                    </li>
                    <li>
                        <a href="http://code.google.com/webtoolkit/" title="GWT">
                            <img src="/images/logos/technologies/gwt5-small.png" width="100" height="30" alt="GWT">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.jboss.org/" title="JBoss">
                            <img src="/images/logos/technologies/jboss-small.png" width="100" height="30" alt="JBoss">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.java.com/" title="Java">
                            <img src="/images/logos/technologies/java-small.png" width="100" height="30" alt="Java">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.microsoft.com/net" title=".NET">
                            <img src="/images/logos/technologies/dot-net-small.png" width="100" height="30" alt=".NET">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.oracle.com/us/products/database/index.html" title="Oracle Database">
                            <img src="/images/logos/technologies/oracle-database-small.png" width="100" height="30"
                                 alt="Oracle Database">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.oracle.com/us/products/servers-storage/solaris/solaris11/overview/index.html"
                           title="Solaris">
                            <img src="/images/logos/technologies/solaris-small.png" width="100" height="30" alt="Solaris">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.redhat.com/" title="Redhat">
                            <img src="/images/logos/technologies/redhat-small.png" width="100" height="30" alt="Redhat">
                        </a>
                    </li>
                    <li>
                        <a href="http://tomcat.apache.org/" title="Apache Tomcat">
                            <img src="/images/logos/technologies/tomcat-small.png" width="100" height="30" alt="Apache Tomcat">
                        </a>
                    </li>
                    <li>
                        <a href="http://www-01.ibm.com/software/websphere/" title="Websphere">
                            <img src="/images/logos/technologies/websphere-small.png" width="100" height="30" alt="Websphere">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.oracle.com/technetwork/middleware/weblogic/overview/index.html"
                           title="Oracle Weblogic">
                            <img src="/images/logos/technologies/oracle-weblogic-small.png" width="100" height="30"
                                 alt="Oracle Weblogic">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
-->
    </div>
</div>
