<div id="wrapper" class="container">

<div id="acknowledgments-container" class="container_12 row">
    <div class="ticker-box acknowledgments grid_10 prefix_1 suffix_1 span12">
        <div class="ticker innerfade" style="position: relative; height: auto;">
            <div style="z-index: 25; position: absolute; display: none;">
                <blockquote>Our relationship with 1 2 3 Completed has proven itself for over 15 years now. We are happy
                    to place any projects in their safe hands.
                </blockquote>
                <p class="ref">Noam Wekser, Oracle University Country Leader, Oracle</p></div>
            <div style="z-index: 24; position: absolute; display: none;">
                <blockquote>Thank you for the high quality delivery... You have met all our goals, and we will be happy
                    to use your services in the future.
                </blockquote>
                <p class="ref">Oded Kedem, co-founder and chief technology officer, Zerto</p></div>
            <div style="z-index: 23; position: absolute; display: none;">
                <blockquote>Thank you for the training. Considering the limited time given for this training it was an
                    excellent overview and initial hands on experience.
                </blockquote>
                <p class="ref">Menahem Zeltzer, Tadiran Telecom</p></div>
            <div style="z-index: 22; position: absolute; display: none;">
                <blockquote>123Completed consulting and training services help us win accounts and maintain existing
                    customers to the highest customer satisfactory level.
                </blockquote>
                <p class="ref">Gershon Diner, VP Customer Services &amp; Support, GigaSpaces</p></div>
            <div style="z-index: 21; position: absolute; display: none;">
                <blockquote>I wanted to thank you for the performance improvement... by a ratio of 20-50 times!
                </blockquote>
                <p class="ref">Gadi Inon, Director, Solutions Architect, Mobixell Networks</p></div>
            <div style="z-index: 20; position: absolute; display: none;">
                <blockquote>1 2 3 Completed work is always extremely professional, and on time.</blockquote>
                <p class="ref">Nir Levion, General Manager, BluePhoenix KMS</p></div>
            <div style="z-index: 19; position: absolute; display: none;">
                <blockquote>Our experience with 1 2 3 Completed was nothing but sheer success.</blockquote>
                <p class="ref">Chen Burshan, VP Product Management ComAbility</p></div>
            <div style="z-index: 18; position: absolute; display: none;">
                <blockquote>For me it is crystal clear: without 1 2 3 completed on board, we would never complete this
                    project in quality on time. Thanks for making this happen!
                </blockquote>
                <p class="ref">Yochai Uliel, Development Manager, APM, VMware</p></div>
            <div style="z-index: 17; position: absolute; display: none;">
                <blockquote>Your contribution to our product development is very well noticed and your work force is
                    demonstrating the highest professionalism.
                </blockquote>
                <p class="ref">Gershon Diner, VP Customer Services &amp; Support, GigaSpaces</p></div>
            <div style="z-index: 16; position: absolute; display: none;">
                <blockquote>1 2 3 Completed helped us provide a top of the line solution that is ready for extreme
                    deployment environments.
                </blockquote>
                <p class="ref">Mia Urman, CEO, OraPlayer</p></div>
            <div style="z-index: 15; position: absolute; display: none;">
                <blockquote>123Completed is a great Oracle Partner, assisting us in various domains and are always
                    delivering excellent results.
                </blockquote>
                <p class="ref">Sary Zuck, Defence Sector Manager, Oracle</p></div>
            <div style="z-index: 14; position: absolute; display: none;">
                <blockquote>Thanks for delivering such a stable demo!</blockquote>
                <p class="ref">Guy Lubovitch, GigaSpaces</p></div>
            <div style="z-index: 13; position: absolute; display: none;">
                <blockquote>I recommend 1 2 3 Completed services to all my colleagues, the added value they bring is
                    huge in many aspects and so is their business approach.
                </blockquote>
                <p class="ref">Nir Lavion, CEO, DSKnowledge</p></div>
            <div style="z-index: 12; position: absolute; display: block;">
                <blockquote>Thank you for the training... it was an excellent overview and initial hands on
                    experience.
                </blockquote>
                <p class="ref">Menahem Zeltzer, Tadiran Telecom</p></div>
            <div style="z-index: 11; position: absolute; display: none;">
                <blockquote>Within short time since 1 2 3 completed joined, we have got a living example of professional
                    standards that were the key factor to this project success.
                </blockquote>
                <p class="ref">Yochai Uliel, Development Manager, APM, VMware</p></div>
            <div style="z-index: 10; position: absolute; display: none;">
                <blockquote>We at Pontis are happy to be a 1 2 3 Completed reference and recommend 1 2 3 Completed
                    services to all.
                </blockquote>
                <p class="ref">Shachar Segev, CTO, Pontis</p></div>
            <div style="z-index: 9; position: absolute; display: none;">
                <blockquote>We would like also to thank you for developing our new education courseware as well as
                    delivering it worldwide with such great success.
                </blockquote>
                <p class="ref">Gershon Diner, VP Customer Services &amp; Support, GigaSpaces</p></div>
            <div style="z-index: 8; position: absolute; display: none;">
                <blockquote>The 1 2 3 Completed company name says it all. These guys know how to deliver!</blockquote>
                <p class="ref">Lanir Shacham, CTO, Correlsense</p></div>
            <div style="z-index: 7; position: absolute; display: none;">
                <blockquote>All goals set by me in the beginning of this session were completely achieved and even
                    beyond!
                </blockquote>
                <p class="ref">HP Software</p></div>
            <div style="z-index: 6; position: absolute; display: none;">
                <blockquote>Your knowledge and capabilities about databases is very significant and was crucial for the
                    success of our project.
                </blockquote>
                <p class="ref">Ohad Maislish, R&amp;D team leader, VMWare.</p></div>
            <div style="z-index: 5; position: absolute; display: none;">
                <blockquote>123 Completed has provided Mobixell with a high quality project that meets all
                    requirements... We at Mobixell recommend 123Completed services to all.
                </blockquote>
                <p class="ref">Oren Zucker, Infrastructure and Projects Group Manager, Mobixell</p></div>
            <div style="z-index: 4; position: absolute; display: none;">
                <blockquote>1 2 3 Completed met every technical challenge in a creative, efficient, on time and on
                    budget manner.
                </blockquote>
                <p class="ref">Avishai Shafir, VP Marketing &amp; Pre-sale, BluePhoenix KMS</p></div>
            <div style="z-index: 3; position: absolute; display: none;">
                <blockquote>Thank you for providing us with such a great service and for being such a committed agile
                    partner.
                </blockquote>
                <p class="ref">Gershon Diner, VP Customer Services &amp; Support, GigaSpaces</p></div>
            <div style="z-index: 2; position: absolute; display: none;">
                <blockquote>I would like to thank you for your contribution to the significant performance
                    improvement...
                </blockquote>
                <p class="ref">Miri Curiel, VP of R&amp;D, Orca Interactive</p></div>
            <div style="z-index: 1; position: absolute; display: none;">
                <blockquote>Without your great help, I am sure the project we had would have never been finished on
                    time
                </blockquote>
                <p class="ref">Ohad Maislish, R&amp;D team leader, VMWare.</p></div>
        </div>
    </div>
</div>

<p class="clear"></p>

<div class="seperator"></div>

<div id="content" class="container_12 row">

<div class="grid_4 span4 about">
    <h1>Who we are?</h1>

    <p>
        We are a leading System Integrator, R&amp;D, IT Consulting and Training
        company, Our experts combine the skill set of Database Administers with
        Java Architects expertise, and have managed enterprise level projects
        as well as agile startups R&amp;D environments.
    </p>

    <p>
        We are not afraid of any challenge and we have
        <a href="#content/success-stories.html">the references</a>
        to prove it.
    </p>
</div>

<!-- NOTE: tab-indexes 81-90 are reserved for services links -->
<div class="grid_4 span4 services-links">
    <h1>What we do?</h1>
    <ul class="no-bullets">
        <li>
            <a class="c123-button" tabindex="81" href="#content/project-development.html">
                <span class="icon development"></span>
                <span class="title">Project Development</span>
            </a>
        </li>
        <li>
            <a class="c123-button" tabindex="82" href="#content/it-troubleshooting-and-consulting.html">
                <span class="icon consulting"></span>
                <span class="title">IT Troubleshooting And Consulting</span>
            </a>
        </li>
        <li>
            <a class="c123-button" tabindex="83" href="#content/training.html">
                <span class="icon training"></span>
                <span class="title">Training</span>
            </a>
        </li>
        <li>
            <a class="c123-button" tabindex="84" href="#content/rnd-staff-augmentation.html">
                <span class="icon staff"></span>
                <span class="title">R&amp;D Staff Augmentation</span>
            </a>
        </li>
        <li>
            <a class="c123-button" tabindex="85" href="#content/professional-services-execution-arm.html">
                <span class="icon pro-services"></span>
                <span class="title">Professional Services Execution Arm</span>
            </a>
        </li>
    </ul>
</div>

<div class="grid_4 span4 tech">

    <div class="technologies">

        <h1>Technologies</h1>

        <ul class="fluid-list">
            <li>
                <a href="http://www.gigaspaces.com/" title="GigaSpaces">
                    <img src="/images/logos/technologies/gigaspaces-small.png" width="100" height="30" alt="GigaSpaces">
                </a>
            </li>
            <li>
                <a href="http://www.cloudifysource.org/" title="GigaSpaces Cloudify">
                    <img src="/images/logos/technologies/cloudify-small.png" width="100" height="30"
                         alt="GigaSpaces Cloudify">
                </a>
            </li>
            <li>
                <a href="http://www.postgresql.org/" title="PostgreSQL">
                    <img src="/images/logos/technologies/postgresql-small.png" width="100" height="30" alt="PostgreSQL">
                </a>
            </li>
            <li>
                <a href="http://www.springsource.org/" title="Spring">
                    <img src="/images/logos/technologies/spring-small.png" width="100" height="30" alt="Spring">
                </a>
            </li>
            <li>
                <a href="http://code.google.com/webtoolkit/" title="GWT">
                    <img src="/images/logos/technologies/gwt5-small.png" width="100" height="30" alt="GWT">
                </a>
            </li>
            <li>
                <a href="http://www.jboss.org/" title="JBoss">
                    <img src="/images/logos/technologies/jboss-small.png" width="100" height="30" alt="JBoss">
                </a>
            </li>
            <li>
                <a href="http://www.java.com/" title="Java">
                    <img src="/images/logos/technologies/java-small.png" width="100" height="30" alt="Java">
                </a>
            </li>
            <li>
                <a href="http://www.microsoft.com/net" title=".NET">
                    <img src="/images/logos/technologies/dot-net-small.png" width="100" height="30" alt=".NET">
                </a>
            </li>
            <li>
                <a href="http://www.oracle.com/us/products/database/index.html" title="Oracle Database">
                    <img src="/images/logos/technologies/oracle-database-small.png" width="100" height="30"
                         alt="Oracle Database">
                </a>
            </li>
            <li>
                <a href="http://www.oracle.com/us/products/servers-storage/solaris/solaris11/overview/index.html"
                   title="Solaris">
                    <img src="/images/logos/technologies/solaris-small.png" width="100" height="30" alt="Solaris">
                </a>
            </li>
            <li>
                <a href="http://www.redhat.com/" title="Redhat">
                    <img src="/images/logos/technologies/redhat-small.png" width="100" height="30" alt="Redhat">
                </a>
            </li>
            <li>
                <a href="http://tomcat.apache.org/" title="Apache Tomcat">
                    <img src="/images/logos/technologies/tomcat-small.png" width="100" height="30" alt="Apache Tomcat">
                </a>
            </li>
            <li>
                <a href="http://www-01.ibm.com/software/websphere/" title="Websphere">
                    <img src="/images/logos/technologies/websphere-small.png" width="100" height="30" alt="Websphere">
                </a>
            </li>
            <li>
                <a href="http://www.oracle.com/technetwork/middleware/weblogic/overview/index.html"
                   title="Oracle Weblogic">
                    <img src="/images/logos/technologies/oracle-weblogic-small.png" width="100" height="30"
                         alt="Oracle Weblogic">
                </a>
            </li>
        </ul>
    </div>
</div>

<p class="clear"></p>

<div class="seperator"></div>

<div class="grid_12 row pad-btm">

<section class="pad-btm span12">
    <h1>Testimonials</h1>

    <p>
        We at 1 2 3 Completed are taking pride at our great customer relationships. Our customer's
        success is our success. We are working hand in hand with our customers in order to guarantee
        satisfaction and we are flexible enough to work with any business model that will enable our
        customers to announce a win–win partnership.
    </p>
</section>

<section class="letter testimonial span12">
    <a class="logo-ribbon" href="http://www.gigaspaces.com/">
        <img src="/images/logos/companies/gigaspaces-testimonial.png" alt="GigaSpaces" width="180" height="40">
    </a>
    <blockquote>
        &hellip;
        We are very pleased with <span class="nowrap">1 2 3 Completed</span>
        ability to provide us services in so many domains
        &hellip;
        Your contribution to our product development is very well noticed and
        your work force is demonstrating the highest professionalism
        &hellip;
        thank you for developing our new education courseware as well as
        delivering it worldwide with such great success
        &hellip;
        Thank you for providing us with such a
        great service and for being such a committed agile partner.
    </blockquote>
    <p class="ref">
        Gershon Diner, VP Customer Services &amp; Support, GigaSpaces
    </p>
</section>

<section class="letter testimonial span12">
    <a class="logo-ribbon" href="http://www.vmware.com/">
        <img src="/images/logos/companies/vmware-testimonial.png" alt="VMware" width="180" height="40">
    </a>
    <blockquote>
       &hellip;
        We had to completely replace the underlying database of a very complex product, there were many technologies
        involved, there was no one was familiar with the code, no one knew the database schema, there were plenty of
        massive performance bottlenecks and there was a harsh time limit&hellip;
        Within short time since 1 2 3 completed joined, we learned the system, we coped with all technological
        challenges, we cleared all other obstacles, and we have got a living example of professional standards that were
        the key factor to this project success.
       &hellip;
        For me it is crystal clear: without 1 2 3 completed on board, we would never complete this project in quality on
        time. Thanks for making this happen!
    </blockquote>
    <p class="ref">
        Yochai Uliel, Development Manager, APM, VMware
    </p>
    <blockquote>
       &hellip;
        Without your great help, I am sure the project we had would have never been finished on time
       &hellip;
        Your knowledge and capabilities about databases is very significant
        and was crucial for the success of our project.
    </blockquote>
    <p class="ref">
        Ohad Maislish, R&amp;D team leader, VMWare.
    </p>
</section>

<section class="letter testimonial span12">
    <a class="logo-ribbon" href="http://www.oracle.com/">
        <img src="/images/logos/companies/oracle-testimonial.png" alt="Oracle" width="180" height="40">
    </a>
    <blockquote>
       &hellip;
        <span class="nowrap">1 2 3 Completed</span> is a great Oracle Partner,
        assisting us in various domains and always delivering excellent
        results in the projects they are involved in.
    </blockquote>
    <p class="ref">
        Sary Zuck, Defence Sector Manager, Oracle
    </p>
    <blockquote>
       &hellip;
        The relationship between Oracle and
        <span class="nowrap">1 2 3 Completed</span> experts has proven itself
        for over 15 years now. We are happy to place any projects in their safe
        hands.
    </blockquote>
    <p class="ref">
        Noam Wekser, Oracle University Israel Director, Oracle
    </p>
</section>

<section class="letter testimonial span12">
    <a class="logo-ribbon" href="http://www.hp.com/">
        <img src="/images/logos/companies/hp-testimonial.png" alt="Hewlett Packard" width="180" height="40">
    </a>
    <blockquote>
       &hellip;
        I just want to say that it was really enjoyable working with you
       &hellip; you brought very strong professional skills. In addition to
        rather stunning results we have achieved (300%) w/o adding more H/W
       &hellip;
        All goals set by me in the beginning of this session were completely
        achieved and even beyond!
    </blockquote>
    <p class="ref">
        HP Software
    </p>
</section>

<section class="letter testimonial span12">
    <a class="logo-ribbon" href="http://www.pontis.com/">
        <img src="/images/logos/companies/pontis-testimonial.png" alt="Pontis" width="180" height="40">
    </a>
    <blockquote>
       &hellip;
        <span class="nowrap">1 2 3 Completed</span> contributed significantly to
        our platform architecture and performance always keeping security in mind.
       &hellip;
        Our partnership with <span class="nowrap">1 2 3 Completed</span> provided us
        with a true R&amp;D partnership, expertise, great service and availability
       &hellip;
        We at Pontis are happy to be a <span class="nowrap">1 2 3 Completed</span>
        reference and recommend their services to all.
    </blockquote>
    <p class="ref">
        Shachar Segev, CTO, Pontis
    </p>
</section>

<section class="letter testimonial span12">
    <a class="logo-ribbon" href="http://www.zerto.com/">
        <img src="/images/logos/companies/zerto-testimonial.png" alt="Zerto" width="180" height="40">
    </a>
    <blockquote>
       &hellip;
        I would like to thank you for the high quality delivery of the .NET
        project as well as the research project conducted by you on our behalf.
        You have met all our goals, and we will be happy to use your services
        in the future.
    </blockquote>
    <p class="ref">
        Oded Kedem, co-founder and chief technology officer, Zerto
    </p>
</section>

<section class="letter testimonial span12">
    <a class="logo-ribbon" href="http://www.mobixell.com/">
        <img src="/images/logos/companies/mobixell-testimonial.png" alt="Mobixell" width="180" height="40">
    </a>
    <blockquote>
       &hellip;
        Thank you for the improvements in performance, you have achieved in our
        system
       &hellip;
        You demonstrated a good understanding of our problem in a short time
        and quickly suggested/implemented a different&hellip; thus improving
        performance by a ratio of 20–50 times.
    </blockquote>
    <p class="ref">
        Gadi Inon, Director, Solutions Architect, Solutions and Innovations
        Group, Mobixell Networks
    </p>
    <blockquote>
        123 Completed has provided Mobixell with a high quality project that
        meets all requirements. 123Completed has demonstrated flexibility and
        true partnership throughout the execution of this and other projects
       &hellip;
        123Completed is our default subcontractor choice for any
        java-database oriented projects and consulting. We at Mobixell recommend
        123Completed services to all.
    </blockquote>
    <p class="ref">
        Oren Zucker, Infrastructure and Projects Group Manager, Mobixell
    </p>
</section>

<section class="letter testimonial span12">
    <a class="logo-ribbon" href="http://www.tadirantele.com/">
        <img src="/images/logos/companies/tadiran-telecom-testimonial.png" alt="Tadiran Telecom" width="180"
             height="40">
    </a>
    <blockquote>
        Thank you for the training. Considering the limited time given for this
        training it was an excellent overview and initial hands on experience.
    </blockquote>
    <p class="ref">
        Menahem Zeltzer, Tadiran Telecom
    </p>
</section>

<section class="letter testimonial span12">
    <a class="logo-ribbon" href="http://www.bphx.com/">
        <img src="/images/logos/companies/bphx-testimonial.png" alt="BluePhoenix" width="180" height="40">
    </a>
    <blockquote>
       &hellip;
        123Completed work is always extremely professional, and on time
       &hellip;
        we have used 123Completed as a development and integration arm. We were
        very satisfied with the outcome of 123Completed work
    </blockquote>
    <p class="ref">Nir Levion, General Manager, BluePhoenix KMS</p>
    <blockquote>
       &hellip;
        123Completed is a top of the line professional IT and R&amp;D
        integration partner
       &hellip;
        Their contribution to the success of our knowledge management product
        and customer satisfaction is crucial
       &hellip;
        They met every technical challenge in a creative, efficient, on time
        and on budget manner
    </blockquote>
    <blockquote>
       &hellip;
        123Completed provided us the confidence that regardless of the
        challenge, the timeframe or the location in the world — they will
        work with us to achieve the goals
       &hellip;
        We highly recommend 123Completed work and partnership, and will be
        happy to share our excellent experience with others
    </blockquote>
    <p class="ref">
        Avishai Shafir, VP Marketing &amp; Pre-sale, BluePhoenix KMS
    </p>
</section>

<section class="letter testimonial span12">
    <a class="logo-ribbon" href="http://www.comability.com/">
        <img src="/images/logos/companies/comability-testimonial.png" alt="ComAbility" width="180" height="40">
    </a>
    <blockquote>
        &hellip;
        Our experience with 1 2 3 Completed was nothing but sheer success.
    </blockquote>
    <p class="ref">
        Chen Burshan, VP Product Management, ComAbility
    </p>
</section>

<section class="letter testimonial span12">
    <a class="logo-ribbon" href="http://www.correlsense.com/">
        <img src="/images/logos/companies/correlsense-testimonial.png" alt="Correlsense" width="180" height="40">
    </a>
    <blockquote>
       &hellip;
        the 1 2 3 Completed company name says it all. These guys know how to
        deliver!
       &hellip;
        With the extensive expertise and excellent reputation, we have decided
        to hire 1 2 3 Completed for one of our strategic efforts.
    </blockquote>
    <blockquote>
       &hellip;
        The 1 2 3 Completed team demonstrated deep understanding and got up to
        speed very quickly, the team executed with top professionalism which
        resulted in a very successful engagement.
    </blockquote>
    <p class="ref">
        Lanir Shacham, CTO, Correlsense
    </p>
</section>

<section class="letter testimonial span12">
    <a class="logo-ribbon" href="http://www.oraplayer.com/">
        <img src="/images/logos/companies/oraplayer-testimonial.png" alt="OraPlayer" width="180" height="40">
    </a>
    <blockquote>
       &hellip;
        1 2 3 Completed helped us provide a top of the line solution that is
        ready for extreme deployment environments
       &hellip;
        OraPlayer highly recommends 123 Completed to any company that wants to
        improve their solution and meet customer expectations
    </blockquote>
    <p class="ref">
        Mia Urman, CEO, OraPlayer
    </p>
</section>

<section class="letter testimonial span12">
    <a class="logo-ribbon" href="http://www.bphxkms.com/">
        <img src="/images/logos/companies/dsk-testimonial.png" alt="DSKnowledge" width="180" height="40">
    </a>
    <blockquote>
       &hellip;
        I recommend 1 2 3 Completed services to all my colleagues, the added
        value they bring is huge in many aspects and so is their business
        approach.
       &hellip;
        We Choose 1 2 3 Completed to partner with and it went beyond our
        expectations.
    </blockquote>
    <blockquote>
       &hellip;
        Since we initiate the engagement with 1 2 3 Completed several very
        aggressive projects has been successfully executed as well as supporting
        our R&amp;D, professional services and sales efforts.
       &hellip;
        The flexibility, expertise, professionalism and real win–win strategy
        that we have established has proven itself on a daily basis.
    </blockquote>
    <p class="ref">
        Nir Lavion, CEO, DSKnowledge
    </p>
</section>
</div>

</div>
<!-- content END -->

</div>    <!-- wrapper END -->
