<div class="member" ng-class="{ collapsed: model.collapsed }" ng-click="model.collapsed = !model.collapsed">
    <img class="member-image img-thumbnail" ng-src="{{ data.imagePath }}" alt="{{ data.name }}'s photo" width="120" height="120" />
    <h2>{{ data.name }}, {{ data.jobTitle }}</h2>
    <p>{{ data.body }}</p>
    <ul class="contact-links list-unstyled">
        <li>
            <a class="icon-email" href="mailto:{{ data.email }}" title="E-Mail {{ data.name }} at {{ data.email }}"></a>
            <!--<a class="fa-stack-exchange" href="mailto:eyal.rubin@123completed.com" title="E-Mail Eyal Rubin at eyal.rubin@123completed.com"></a>-->
        </li>
        <li>
            <a class="icon-linkedin" href="{{ data.linkedinUrl }}" title="{{ data.name }}'s LinkedIn profile"></a>
        </li>
    </ul>
</div>
