<section>
    <h1>Company Profile</h1>
    <p>
        Established at January 2009, 1 2 3 Completed is a leading System Integrator, Research and
        Development, IT Consulting and Training company. We are experts in extreme Integration, Performance
        and scalability challenges, mainly based on java and databases environments. Our experts combine
        the skill set of Database Administers with Java Architect expertise. Our senior experts, each,
        carry more than 20 years of experience in R&amp;D and IT, and have managed enterprise level projects as
        well as agile startups R&amp;D environments, making us capable of meeting customer need for outstanding
        performance and scalability achievements. We are not afraid of any challenge on almost any platform
        and we have the references to prove it. We enjoy what we do, and we do it very well.
    </p>
    <p>
        <strong>Our goal is to get a THANK YOU letter from you, and once hired we will get it!</strong>
    </p>
    <p>
        Our services include, among others: full project lifecycle delivery, Proof of Concepts, IT
        Troubleshooting, R&amp;D consulting, staff augmentation, training, Application performance experts,
        development expertise, projects outsourcing, database administrators (Oracle, MYSQL, Postgress,
        MSSQL), Java architects, IT experts, SOA architects, GigaSpaces XAP experts, JEE Application
        Server administrators (IBM WebSphere, JBoss, Oracle WebLogic server and others).
    </p>
    <h2>Vision</h2>
    <p>
        To be recognized as the #1 company in collecting THANK YOU! letters from customers, while having
        enjoyable and successful technological advantures. All the rest will follow&hellip;
    </p>
    <h2>Team</h2>
    <p>
        1 2 3 Completed offers access to some of the most respected experts for
        in&ndash;house consulting and outsourced projects. Our experts are highly
        skilled analysts, designers and developers who can solve your business critical
        challenges. The 1 2 3 Completed Senior Consultants team is an elite group of
        technology specialists. Each of our team members is a subject matter expert,
        providing services to leading companies in the IT world. Our technology leaders
        collaborate with outside experts and leading third party software suppliers,
        on a per project basis.
    </p>
    <p>
        References may be provided for each expert upon request.
    </p>
</section>
