<section>
    <h1>Contact Information</h1>

    <div class="contact-tables">
        <table class="contact-info">
            <caption>Israel Office &mdash; Administration (Mail should be sent to this office)</caption>
            <tbody>
            <tr>
                <th>Address</th>
                <td>5 Ehud Manor st., Holon Israel, 58459</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>&#43;972&ndash;54&ndash;260&ndash;7105</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>&#43;972&ndash;3&ndash;503&ndash;0027</td>
            </tr>
            <tr>
                <th>Fax</th>
                <td>&#43;972&ndash;72&ndash;250&ndash;9027</td>
            </tr>
            <tr>
                <th>E&ndash;Mail</th>
                <td>info@123Completed.com</td>
            </tr>
            </tbody>
        </table>

        <table class="contact-info">
            <caption>Israel Office</caption>
            <tbody>
            <tr>
                <th>Address</th>
                <td>8 Maskit st., Hertzeliya Israel</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>&#43;972&ndash;54&ndash;260&ndash;7104</td>
            </tr>
            <tr>
                <th>Fax</th>
                <td>&#43;972&ndash;72&ndash;250&ndash;9027</td>
            </tr>
            <tr>
                <th>E&ndash;Mail</th>
                <td>info@123Completed.com</td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
