<section>
    <h1>Methodology</h1>
    <p>
        At 1 2 3 Completed, we use a proven software development method to provide our customers with the
        best practices of development &amp; database technologies. Our software development methodology is
        based on best of breed practices in the industry and on years of hands on experience. As part of
        our methodology, we identify recurring design patterns and utilize them to reduce development
        efforts. By doing so, we allow our customers not only to enable new functionality in their
        applications, but also to improve performance, stability and usability. We use UML, Requirements
        Analysis, Domain Modeling, Object&ndash;Oriented Analysis, Architectural Design, Object&ndash;Oriented Design,
        Structured Implementation and Project Management.
    </p>
</section>
