<section class="news-section">
    <h1>News &amp; Events</h1>

    <h3 id="gigaspaces-partnership" class="title">Gigaspaces Technologies Partnership</h2>
        <p>
            123Completed, a leader in providing services to high-end software projects,
            has entered a partnership with GigaSpaces, a leading provider of application
            virtualization platforms and cloud enablement solutions. 123Completed will
            be a solution implementer of GigaSpaces technologies, and will be the
            principal GigaSpaces training provider worldwide. Gershon Diner, GigaSpaces
            VP Customer Services &amp; Support, says: &quot;We are glad to have 123Completed
            as a partner, and look forward to benefitting from 123Completed expertise
            and great service in various fields such as product development,
            architecture, customer consultancy, and training.&quot;
        </p>

        <h3 id="oracle-partnership" class="title">Oracle Partnership</h2>
            <div class="date">22&ndash;November&ndash;2011</div>
            <p>
                Oracle announcement by Noam Wexer of 1 2 3 Completed and Oracle partnership
                published:
            </p>
            <p>
                &ldquo;Oracle is proud to have 123Completed as a training and
                services provider. The relationship between Oracle and 123Completed experts
                has proven itself for over 15 years now. We are happy to place any projects
                in the safe hands of 123Completed&rdquo;
            </p>
            <p>
                Noam Wexler, Oracle University Israel Director
            </p>
</section>
