<section class="pad-btm">
    <h1>Professional Services execution arm</h1>
    <p>
        We can become your professional services organization supporting your company and your customers
        at your facilities or at your customer site.
    </p>
    <p>
        As part of this service we will:
    </p>
    <ul>
        <li>
            Learn your product internals
        </li>
        <li>
            Collect customer technical information.
        </li>
        <li>
            Deploy your product at customer sites.
        </li>
        <li>
            Take part or conduct Proof Of Concepts (POC) around the globe.
        </li>
    </ul>
</section>

<section class="letter testimonial">
    <blockquote>
        &hellip;Since we initiate the engagement with 1 2 3 Completed several very aggressive
        projects has been successfully executed as well as supporting our R&amp;D, professional services
        and sales efforts. The flexibility, expertise, professionalism and real win&ndash;win strategy that we
        have established has proven itself on a daily basis. I recommend 1 2 3 Completed services to all
        my colleagues, the added value they bring is huge in many aspects and so is their business
        approach.
    </blockquote>
    <p class="ref">
        Nir Lavion, CEO, DSKnowledge
    </p>
</section>
